<div class="container">
  <div class="left-column">
    <div class="sound-sets-list">
      <div class="sound-set-entry">
        <span class="sound-set-entry-text">Lizardman</span
        ><i class="fa-solid fa-trash custom-icon"></i>
      </div>
      <div class="sound-set-entry-selected sound-set-entry">
        <span class="sound-set-entry-text">Kobold</span
        ><i class="fa-solid fa-trash custom-icon"></i>
      </div>
      <div class="sound-set-entry">
        <span class="sound-set-entry-text">Sayf</span
        ><i class="fa-solid fa-trash custom-icon"></i>
      </div>
    </div>
    <button class="add-sound-set-button">Create Sound Set</button>
  </div>
  <div class="right-column">
    <div class="sound-set-name-container">
      <span class="sound-set-name-label title">Soundset Name</span>
      <input class="sound-set-name-input" value="New Sound Set" />
    </div>
    <div class="sounds-content">
      <div class="sound-type-header">
        <span class="sound-type-header-text title">Attack Sounds</span
        ><i class="fa-solid fa-square-plus plus-icon"></i>
      </div>
      <div class="sound-type-content">
        <div class="sound-entry">
          <span class="sound-type-header-text">/path/to/attacksound1.wav</span
          ><i class="fa-solid fa-play custom-icon"></i>
          <i class="fa-solid fa-trash custom-icon"></i>
        </div>
        <div class="sound-entry">
          <span class="sound-type-header-text">/path/to/attacksound1.wav</span
          ><i class="fa-solid fa-play custom-icon"></i>
          <i class="fa-solid fa-trash custom-icon"></i>
        </div>
        <div class="sound-entry">
          <span class="sound-type-header-text">/path/to/attacksound1.wav</span
          ><i class="fa-solid fa-play custom-icon"></i>
          <i class="fa-solid fa-trash custom-icon"></i>
        </div>
        <div class="sound-entry">
          <span class="sound-type-header-text">/path/to/attacksound1.wav</span
          ><i class="fa-solid fa-play custom-icon"></i>
          <i class="fa-solid fa-trash custom-icon"></i>
        </div>
        <div class="sound-entry">
          <span class="sound-type-header-text">/path/to/attacksound1.wav</span
          ><i class="fa-solid fa-play custom-icon"></i>
          <i class="fa-solid fa-trash custom-icon"></i>
        </div>
        <div class="sound-entry">
          <span class="sound-type-header-text">/path/to/attacksound1.wav</span
          ><i class="fa-solid fa-play custom-icon"></i>
          <i class="fa-solid fa-trash custom-icon"></i>
        </div>
        <div class="sound-entry">
          <span class="sound-type-header-text">/path/to/attacksound2.wav</span
          ><i class="fa-solid fa-play custom-icon"></i>
          <i class="fa-solid fa-trash custom-icon"></i>
        </div>
        <div class="sound-entry">
          <span class="sound-type-header-text">/path/to/attacksound3.wav</span
          ><i class="fa-solid fa-play custom-icon"></i>
          <i class="fa-solid fa-trash custom-icon"></i>
        </div>
      </div>
      <div class="sound-type-header">
        <span class="sound-type-header-text title">Hurt Sounds</span
        ><i class="fa-solid fa-square-plus plus-icon"></i>
      </div>
      <div class="sound-type-content">
        <div class="sound-entry">
          <span class="sound-type-header-text">/path/to/attacksound3.wav</span
          ><i class="fa-solid fa-play custom-icon"></i>
          <i class="fa-solid fa-trash custom-icon"></i>
        </div>
      </div>
      <div class="sound-type-header">
        <span class="sound-type-header-text title">Death Sounds</span
        ><i class="fa-solid fa-square-plus plus-icon"></i>
      </div>
      <div class="sound-type-content">
        <div class="sound-entry">
          <span class="sound-type-header-text">/path/to/attacksound3.wav</span
          ><i class="fa-solid fa-play custom-icon"></i>
          <i class="fa-solid fa-trash custom-icon"></i>
        </div>
        <div class="sound-entry">
          <span class="sound-type-header-text">/path/to/attacksound3.wav</span
          ><i class="fa-solid fa-play custom-icon"></i>
          <i class="fa-solid fa-trash custom-icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>







{{!-- <div>
    <input type="text" name="sound_set_name">
    <input type="submit" value="What's in the box?!">
    <div>
        {{#each customSoundSetNames}}
        <span data-action="select_sound_set" data-key="{{this}}">
            {{this}}
        </span><p>
        {{/each}}
    </div>
</div> --}}