.theme-dark {
    --creature-sounds-border-color: var(--color-light-6);
    --creature-sounds-shadow-color: #453a37;
}

.theme-light {
    --creature-sounds-border-color: var(--color-dark-6);
    --creature-sounds-shadow-color: var(--color-dark-3);
}

/* Container for the whole custom sounds UI. */
.customs-container {
    display: flex;
    gap: 1rem;
    height: 100%;
    color: var(--color-text-primary);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Left column for the custom sounds UI, containing the list of sound sets and the create sound set
   button. */
.customs-left-column {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    gap: 8px;
    padding-left: 0.5rem;
}

/* Right column for the custom sounds UI, containing the details for the selected sound set. */
.customs-right-column {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    overflow-y: auto;
    padding-right: 0.5rem;
    min-width: 100px;
}

/* Disables Right Column when nothing is selected */
.customs-disabled {
    opacity: 0.3;
    pointer-events: none;
}

/* Applied to all boxes in the custom sounds UI. */
.customs-box {
    border-radius: 4px;
    border: 1px solid var(--creature-sounds-border-color);
    box-shadow: inset 0 0 4px 0 var(--creature-sounds-shadow-color);
}

/* The box containing all the custom sound sets. */
.sound-set-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 8px;
    gap: 8px;
    overflow-y: auto;
}

/* Container for a sound set entry, with text and a delete button. */
.sound-set-entry {
    display: flex;
    align-items: center;
    padding: 4px;
}

/* Text showing the name of a custom sound set. */
.sound-set-entry-text {
    flex-grow: 1;
}

.sound-set-entry-text:hover {
    flex-grow: 1;
    text-shadow: 0 0 8px var(--color-shadow-primary);
}

.sound-set-entry-selected {
    text-shadow: 0 0 10px var(--color-shadow-primary);
    font-weight: bold;
}

/* Button to add a new custom sound set. */
.sound-set-add-button {
    align-self: center;
    white-space: nowrap;
}

/* Container for download/upload sound sets buttons. */
.sound-set-download-upload {
    align-self: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;
}

/* Container for the label and text input box for the custom sound set name. */
.sound-set-name-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
}

/* Label for the input box to enter the sound set name.  */
.sound-set-name-label {
    font-weight: bold;
    white-space: nowrap;
}

/* Text input box to enter the sound set name. */
.sound-set-name-input {
    flex-grow: 1;
    padding-left: 4px;
}

/* Container for the label for a type of sound, and the add button. */
.sound-type-header {
    display: flex;
    margin-top: 16px;
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
    align-items: end;
}

/* Text showing the sound type name, e.g. "Attack sounds". */
.sound-type-header-text {
    flex-grow: 1;
    font-weight: bold;
}

/* Box containing sounds for a particular type. */
.sound-type-box {
    display: flex;
    flex-basis: 80px;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
}

/* Container for a specific sound, showing the path and play and delete buttons. */
.sound-type-entry {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Text showing the path to a sound file. */
.sound-type-entry-text {
    flex-grow: 1;
    min-width: 0px;
    overflow: hidden;
}

/* The plus icon used to add a new sound of a particular type. */
.plus-icon {
    font-size: 1.6rem;
}

.plus-icon:hover {
    text-shadow: 0 0 8px var(--color-shadow-primary);
}

/* Icons shown inline with entries in boxes, e.g. the delete button next to a sound or sound set. */
.customs-entry-icon {
    font-size: 1rem;
}

.customs-entry-icon:hover {
    text-shadow: 0 0 8px var(--color-shadow-primary);
}

/* Buttons showing just an icon. */
.icon-only-button {
    flex-grow: 0;
    width: auto;
}

.button-in-row {
    margin-left: 0px;
    margin-right: 0px;
}