/* Styles for the wrapper div*/
.pf2ecs-soundboard-buttons-wrapper {
    display: flex; 
    justify-content: center;
    gap: 0.25rem;
}

/* Styles for the button container */
.pf2ecs-soundboard-buttons {
    padding-top: 2px;
    padding-bottom: 8px
}

/* Styles for the individual buttons */
.pf2ecs-soundboard-buttons button {
    font-size: var(--font-size-16);
}