.container {
    display: flex;
    border: 1px solid;
    padding: 10px;
    gap: 10px;
    height: 100%;
  }
  
  .left-column {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    gap: 8px;
  }
  
  .right-column {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;  
    overflow: auto;
    padding-right: 8px
  }
  
  
  .sound-sets-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid;
    padding: 8px;
    gap: 8px;
  }
  
  .add-sound-set-button {
    align-self: center;
    white-space: nowrap;
  }
  
  .sound-set-entry {
    display: flex;
    align-items: center;
    padding: 4px;
  }
  
  .sound-set-entry-text{
    flex-grow: 1;
  }
  
  .sound-set-entry-selected {
    background-color: rgba(0,0,0,0.2)
  }
  
  .sound-set-name-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .sound-set-name-label {
  
  }
  
  .sound-set-name-input {
    flex-grow: 1;
    padding-left: 4px;
  }
  
  .sound-type-header {
    display: flex;
    margin-top: 8px;
    margin-bottom: 2px;
    align-items: center;
  }
  
  
  .sound-type-header-text{
    flex-grow: 1;
  }
  
  .sound-type-content {
    display: flex;
    flex-basis: 30px;
    border: 1px solid;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
  }
  
  .sound-entry {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .plus-icon {
    font-size: 1.7rem;
    color: rgba(0,0,0,0.8);
  }

  .custom-icon {
    font-size: 1.1rem;
    color: rgba(0,0,0,0.8);
  }